button {
    width: 20%;
    margin-left: 27%;
}

.text {
    text-transform: capitalize;
    background: linear-gradient(to right, #ff6d00 20%, #ffab40 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}