<div style="width: fit-content;">
    <img src="../../../assets/img/success.png" width="150px"  style="margin-left: 100px; display: grid;">
    <br>
    <h1 style="font-size: 40px;  text-align: center;  margin-left: 40px;"><b>Thank You !</b></h1> 
    <h2 style="font-size: 20px; text-align: center; margin-left: 30px;">Your Payment is Successfully Done</h2>
    <div mat-dialog-actions>
      <button style="margin-left: 130px; background-color: #ffa726;" mat-dialog-close  mat-raised-button (click)="close()"  >Click Here </button>
    </div>
</div>
    