<app-navbar></app-navbar>
<br>
<div class="heading mat-elevation-z8">Welcome to <span class="text">FinFlowz</span> Insurance! Please proceed with the below options!</div>
<br>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-4" routerLink="/health-insurance">
            <div class="card1">


                <div class="card-description">

                    <p style="font-size: 25px;">Health Insurance</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card2">


                <div class="card-description">

                    <p style="font-size: 25px;">Life Insurance</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card3">

                <div class="card-description">

                    <p style="font-size: 25px;">Motor Insurance</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="card4">


                <div class="card-description">

                    <p style="font-size: 25px;">P & C Insurance</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card5">


                <div class="card-description">

                    <p style="font-size: 25px;">Fire Insurance</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card6">

                <div class="card-description">

                    <p style="font-size: 25px;">Travel Insurance</p>
                </div>
            </div>
        </div>
    </div>
</div>