<app-navbar></app-navbar>
<br>
<div class="heading mat-elevation-z8">Welcome to <span class="text">FinFlowz</span> Insurance! Please proceed with the below options!</div>
<br><br>
<div style="padding-left: 15%;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5" routerLink="/insurance-type">
                <div class="card1">
                    <div class="card-description">
                        <p style="font-size: 25px;font-weight: 500;">Buy Insurance</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="card2">
                    <div class="card-description">
                        <p style="font-size: 25px;font-weight: 500;">Renew Insurance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>