/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.controles-container1{
    width: 200%;
    padding-left: 1%;
    }

    .controles-container1 >*{
        width:90%;
      }

      .controles-container11{
        width: 100%;
        padding-left: 1%;
        padding-top: 0%;
        padding-bottom: 0%;
        margin: 0%;
        }
        .controles-container11 >*{
          width:90%;
        }

        mat-form-field{
          margin-bottom: -1em
        }
        /* body { background-color: #FFFFF7 !important; } */
        /* body { background-color: #9c9999 !important; } */

        .mat-divider{
          border-top-width: 20px;
          border-top-style: dashed;
        }

       

      .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
        border-color:#eb9b05; 
      }
      .mat-radio-button.mat-accent .mat-radio-inner-circle{
        color:#eb9b05 ;
        background-color:#eb9b05 ;
      }
      
      .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
          background-color:#eb9b05 
      }
      .mat-chip{
        background-color: #ffd180 !important;
        color: black !important;
      }
     

      
     