@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Sriracha&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Kalam:wght@300&family=Sriracha&family=Tangerine&display=swap');
h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
}