@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Sriracha&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Kalam:wght@300&family=Sriracha&family=Tangerine&display=swap');
h1{
    font-family: 'Kalam', cursive;
font-family: 'Sriracha', cursive;
font-family: 'Tangerine', cursive;
 
}
h2{
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
}

