<div style="width: fit-content;">
    <!-- <img src="../../../assets/img/balloons.png" width="150px" style="margin-left: 100px; display: grid;"> -->

    <mat-icon><span class="material-icons-outlined" style="font-size: 150px;margin-left: 100px; color:#ffb74d;">
            sentiment_satisfied_alt
        </span></mat-icon>
    <br>
    <h1 class="text" style="font-size: 50px;  text-align: center;  margin-left: 30px;"><b>Congratulations</b></h1>
    <h2 style="font-size: 20px; text-align: center; margin-left: 30px;"><b>Policy Number : {{this.PolicyNumber}}</b></h2>
    <button style="margin-left: 130px;background-color: #ffa726;" mat-dialog-close mat-raised-button routerLink="/">Click Here
    </button>
</div>